<div class="pageWrapper">
  <div class="computerBtnsContainer">
    <button class="computerTypeBtn" (click)="clickedButton('Mac')">Mac</button>
    <button class="computerTypeBtn" (click)="clickedButton('Windows')">
      Windows
    </button>
  </div>
  <form class="example-form">
    <input
      class="searchInput"
      type="text"
      placeholder="Search for a command"
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let shortCut of filteredShortCuts | async"
        [value]="shortCut"
        (mouseup)="selectedShortcut(shortCut)"
      >
        {{ shortCut }}
      </mat-option>
    </mat-autocomplete>
  </form>
  <h1 class="computerTypeHeader">{{ typeDisplay[0].computerType }}</h1>
  <div class="shorcutDefinition" *ngIf="!!itemToShow">
    <p class="definitionLine">{{ itemToShow.description }}</p>
    <p class="definitionLine">{{ itemToShow.keys }}</p>
    <p class="definitionLine">{{ itemToShow.category }}</p>
  </div>
</div>

<router-outlet></router-outlet>
