.pageWrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/*computer type buttons */
.computerBtnsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 8;
  width: 100%;
}

.computerTypeBtn {
  margin-left: auto;
}
/* end buttons */

.example-form {
  grid-column-start: 2;
  grid-column-end: span 8;
  grid-row-start: 2;
  margin-left: auto;
  margin-right: auto;
}
.computerTypeHeader {
  grid-row-start: 3;
}
.shorcutDefinition {
  grid-row-start: 4;
}
