<!-- <div class="pageWrapper">
  <div class="computerBtnsContainer">
    <h1 class="title">VS Code Shortcut Helper</h1>
    <button
      class="computerTypeBtn"
      id="computerTypeMac"
      (click)="clickedButton('Mac')"
    >
      Mac
    </button>
    <button
      class="computerTypeBtn"
      id="computerTypeWindows"
      (click)="clickedButton('Windows')"
    >
      Windows
    </button>
  </div>
  <form *ngIf="!!typeDisplay[0].computerType" class="example-form">
    <mat-icon class="searchIcon">search</mat-icon>
    <input
      class="searchInput"
      type="text"
      placeholder="Search for a command"
      [formControl]="control"
      [matAutocomplete]="auto"
      (keyup.enter)="onEnterKey($event)"
    />
    <button id="clear" (click)="resetDefaults()">
      <mat-icon class="clearIcon">clear</mat-icon>
    </button>
    <mat-autocomplete class="autoComplete" #auto="matAutocomplete">
      <mat-option
        *ngFor="let shortCut of filteredShortCuts | async"
        [value]="shortCut"
        (mouseup)="selectedShortcut(shortCut)"
      >
        {{ shortCut }}
      </mat-option>
    </mat-autocomplete>
  </form>
  <div
    class="computerTypeHeader"
    *ngIf="!typeDisplay[0].computerType; else computerTypeHeader"
  >
    <h1>Select an OS from above</h1>
  </div>
  <h1 class="computerTypeHeader" *ngIf="!!typeDisplay.length">
    {{ typeDisplay[0].computerType }}
  </h1>
  <div
    class="shortcutDefinition"
    *ngIf="!!itemToShow; else showAllDescriptions"
  >
    <p class="definitionLine">{{ itemToShow.description }}</p>
    <p class="definitionLine">{{ itemToShow.keys }}</p>
    <p class="definitionLine">{{ itemToShow.category }}</p>
  </div>
</div>

<ng-template class="shortcutDefinition" #showAllDescriptions>
  <ul class="shortcutDefinition shortCutList">
    <li
      class="allDescriptionItem"
      *ngFor="let itemDescription of typeDisplay"
      [value]="itemDescription"
    >
      <button
        class="allDescriptionButton"
        (mouseup)="selectedShortcut(itemDescription.description)"
      >
        {{ itemDescription.description }}
      </button>
    </li>
  </ul></ng-template
>

<ng-template #computerTypeHeader>
  <h1 class="computerTypeHeader" *ngIf="!!typeDisplay.length">
    {{ typeDisplay[0].computerType }}
  </h1>
</ng-template> -->
<router-outlet></router-outlet>
